<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
            <a href="https://github.com/tevkr">
                <img src="~/images/github-profile.png" class="card-img-top" alt="github profile">
                <div class="card-body">
                    <p class="card-text">Профиль Github</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
            <a href="https://github.com/tevkr">
                <img src="~/images/github-profile.png" class="card-img-top" alt="github profile">
                <div class="card-body">
                    <p class="card-text">Репозиторий Github</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="width: 18rem;">
            <a href="https://vk.com/yanovsky">
                <img src="~/images/vk-profile.jpg" class="card-img-top" alt="github profile">
                <div class="card-body">
                    <p class="card-text">Профиль VK</p>
                </div>
            </a>
        </div>
    </div>
</div>