<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Названия для поиска" id="searchInput">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary custom-button custom-hover" type="button" id="searchButton">Найти</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover" style="table-layout: fixed;">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Кол-во человек</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
                @foreach (var item in ViewData["Rooms"] as List<VideoChatConferencesBackEnd.Models.RoomModel>)
                {
                    count++;
                    <tr id="@item.RoomId">
                        <th>@item.Name</th>
                        <td>@item.UsersCount</td>
                        @if(item.Password)
                        {
                             <td class="icon-check"></td>
                        }
                        else
                        {
                            <td class="icon-close"></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <script>
        function dblclickHandler(e) {
            if (e.path[1].id != null && e.path[1].id != "")
                location.href = 'room/' + e.path[1].id;
        }
        document.querySelectorAll('tr').forEach(e => e.addEventListener('dblclick', dblclickHandler));
    </script>
</div>