<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Названия для поиска" id="searchInput">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary custom-button custom-hover" type="button" id="searchButton">Найти</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover" style="table-layout: fixed;">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Кол-во человек</th>
                <th scope="col">Пароль</th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr0">
                <th>ААААААААААААААААААААААААА СЮДА</th>
                <td>7</td>
                <td class="icon-check"></td>
            </tr>
            <tr id="tr1">
                <th>Давай сюда</th>
                <td>2</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr2">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr3">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr4">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr5">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr6">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr7">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr8">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr9">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr10">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr11">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr12">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr13">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr14">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr15">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr16">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
            <tr id="tr17">
                <th>Квадро</th>
                <td>4</td>
                <td class="icon-close"></td>
            </tr>
        </tbody>
    </table>
</div>