<script>
    const username = "@(ViewData["Username"])";
    const userId = "@(ViewData["UserId"])";
</script>
<div class="main-room-div">
    <div class="main-left">
        <div class="videos-group">
            <div id="video-grid"></div>
        </div>
        <div class="options">
            <div class="options-left">
                <!-- icon-videocam_off -->
                <div id="stopVideo" class="options-button">
                    <i class="ic icon-videocam"></i>
                </div>
                <!-- icon-microphone-slash -->
                <div id="muteButton" class="options-button">
                    <i class="ic icon-microphone"></i>
                </div>
                <div id="showChat" class="options-button">
                    <i class="ic icon-comment"></i>
                </div>
            </div>
            <div class="options-right">
                <div id="inviteButton" class="options-button">
                    <i class="ic icon-user-plus"></i>
                </div>
                @if (false)
                {
                    <div id="deleteRoom" class="options-button" style="background: #3aebca;">
					    <i class="ic icon-delete_forever" style="font-size: 40px; color: black;"></i>
			    	</div>
                }
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="main-chat-window">
            <div class="messages"></div>
        </div>
        <div class="main-message-container">
            <span class="ic back icon-chevron-left"></span>
            <input id="chatMessage" type="text" autocomplete="off" placeholder="Напишите сообщение">
            <div id="send" class="options-button">
                <i class="ic icon-send2" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
@if (false)
{
    <script>
        function videodblclickHandler(e) {
            var vidId = e.target['id'];
            console.log(vidId);
        }
    </script>
}else
{
    <script> function videodblclickHandler(e) {} </script>
}
